.movie-list {
    margin-top: 18px;

}
.description {
    color:white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
}
.container {
    margin-left: 30px;
    display: flex;
    width: max-content;
    transform: translateX(0px);
}

.forward-icon {
    position: absolute;
    right: 0;
    
}
