.header-main {
    color:white;
    height: 72px;
    display:flex;
    position: fixed;
    width:100%;
}
.logo {
    width:100px;
    height: 30px;
}
.profile-pic {
    width: 30px;
    border-radius: 50%;
}
.header {
    display: flex;
    align-items:flex-end;
}
.header span{
    padding-left: 18px;
}
.icons {
    display: flex;
}
.icon {
    margin: 0px 15px;

}